svg.bi.bi-facebook {
    width: 50px !important;
    height: 50px !important;
}

@media (width < 768px) {
    svg.bi.bi-facebook {
        width: 25px !important;
        height: 25px !important;
    }
}